.wrapper {
  width: 260px;
  background: var(--color-white);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.02);
  padding: 1rem;
  font-size: 14px;
  color: var(--color-gray-dark);
}

.orde_by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--color-gray-dark);
  color: var(--color-primary);
}

.categorias {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 0.3rem;
}

.categorias label {
  font-weight: 400;
  cursor: pointer;
}

.container_price {
  margin-top: 1rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.price input {
  width: 80px;
  padding: 0.6rem 1.1rem;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}



.section_filter > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

mat-form-field {
  width: 50%;
}

.container_price, .container_reviews, .container_memory, .container_rango, .container_camara {
  margin-top: 1rem;
  border-top: 1px solid var(--color-gray-light);
  padding-top: 1rem;

}

